<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991185990145-21ebjs10ct5gckdj5pshsd84i3pvpdpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991185990145-21ebjs10ct5gckdj5pshsd84i3pvpdpc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>991185990145-48kk7d473fu1fh1mmj8dl7d2v4s08f8i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9n1_IX2jKK705z1mzbXoCld7xGitnr4U</string>
	<key>GCM_SENDER_ID</key>
	<string>991185990145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pulsarventures.linklibraryai</string>
	<key>PROJECT_ID</key>
	<string>sample-firebase-ai-app-c245e</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-firebase-ai-app-c245e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:991185990145:ios:51afdf50c37eb1ffaa8600</string>
</dict>
</plist> 